{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron">
        <p>
            Welcome to Puppy User Name Check<br>
            Let's see if your User Name is secure!<br>
            Fill out the form below with a User Name that has these restraints
        </p>

        <ul>
            <li>Must have an upper case letter somewhere</li>
            <li>Must have a lower case letter somewhere</li>
            <li>Must have a number at the end</li>
        </ul>

        <form action="{{ url_for('report') }}">
            <label for="user_name">User Name</label> <input type="text" name="user_name"> <input type="submit" value="Submit Form">
        </form>
    </div>

{% endblock %}