{% extends 'base.html' %}

{% block content %}

<div>
        
    {% if requirements_met %}
        <p>All requirements met</p>
    {% else %}

        <ul>
            {% if not char_islower %}
                <li>Lowercase character not present</li>
            {% endif %}

            {% if not char_isupper %}
                <li>Uppercase character not present</li>
            {% endif %}

            {% if not char_isdigit %}
                <li>Last character isn't a digit</li>
            {% endif %}
        </ul>

    {% endif %}

</div>

{% endblock %}