<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <ul class="nav">
        
        <li class="nav-link"><a href="{{url_for('home')}}">Home</a></li>
        
        {% if current_user.is_authenticated %}
            <li class="nav-link"><a href="{{url_for('logout')}}">Logout</a></li> <!--! No html file associated with this logout. It redirects itself to home -->
        {% else %}
            <li class="nav-link"><a href="{{url_for('login')}}">Log In</a></li>
            <li class="nav-link"><a href="{{url_for('register')}}">Register</a></li>
        {% endif %}

    </ul>

    {% block content %}

    {% endblock %}
</body>
</html>